#pixiv地址(外一有镜像站呢?) 选填 默认https://pixiv.net
pixivUrl=

#起始页 选填 默认1
startPage=
#结束页 选填 默认1000 (最多只能获取到1000 总页数不足1000将会获取到最后1页)
endPage=

#cookie 必填
cookie=
#连接超时设置 单位秒 选填 默认120
connectTimeout=
#读取超时设置 单位秒 选填 默认120
readTimeout=

#搜索模式 必填 可选keyword/uid
searchMode=
#搜索关键字 必填 如searchMode为keyword则填搜索关键字 如果为uid则添画师uid
keyword=
#uid模式是否根据浏览数/收藏数/图片数进行筛选 选填 默认true (true为不筛选) 可选true/false
isAll=
#搜索模式 选填 默认saft 可选all/safe/r18
mode=
#语言 选填 默认zh
lang=

#线程数 选填 默认6
threadPoolSize=
#重试等待时间 选填 单位毫秒 默认5000
retrySleepTime=

#最少浏览数 选填 默认2000
minViewCount=
#最少收藏数 选填 默认500
minBookmarkCount=
#判断方法 选填 默认and 可选or/and
how=
#一个pid最多下载图片数量(多于此数量不下载此pid) 选填 默认5
maxImg=

#保存位置 选填 默认img
fileUrl=

#保存的文件名称 选填 默认 ${userId}_${baseName}
#可选变量:
#${baseName} 基础名称,即pid+第几画+扩展名
#${userId} 画师的uid
#${illustId} 画的pid
#${illustTitle} 画的名称
#${width} 画宽
#${height} 画高
#${viewCount} 浏览数
#${bookmarkCount} 收藏数
#${urlOriginal} 原画链接
fileName=